body {
	background-color: #202020;
	margin: 0 auto;
	overflow: hidden;
	/*font-family: 'Open Sans', helvetica, sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	color: white;
}

body #main{
	height: 2000px;
}

h1{
	font-weight: 300;
}
p{
	font-size: 1em;
}
footer{
}

#backToTopBar{
	width: 100%;
	opacity: 0.5;
	background-color: #E0E0E0 ;
	height: 5%;
	position: fixed;
	font-family: 'Open Sans', sans-serif;
	margin-top: 
}

#backToTopBar button{
	border: 0;
	background: none;
	height: 50px;
}

#intro-title{
	position: relative;
	width: 800px;
	font-size: 4em;
	
}
.intro{
	width: 100%;
	height: 100%;
}
.intro h1{

}
#intro-div{
	margin-top: 20%;
	margin-left: 30%;
	position: absolute;
	color: white;
	width: 800px;
	vertical-align: center;
	z-index: 10;
}
#intro-video{
	height: 1000px;
	z-index: 1;
}

/* Pagination bar for the slide */
.onepage-pagination{
	margin-top: 20%;
	float: right;
	z-index: 100;
}

.onepage-pagination .active{
	color: red;
}

/**************** Differently Similar **********************/
#diff-section h1{
	font-size: 50;
	display: inline;
}
#diff-section #different-text{
	font-family: 'Old Standard TT', serif;
	font-weight: 400;
		margin-right: 0.5em;
}
#diff-section div{
	margin-top: 10%;
	margin-left: 30%;
	text-align: left;
	margin-right: 3%;
}

/* Alternate colours between each div */
#special{
	height: 100%;
	background-color: white;
}

/********* All play and no work *********/
#summary-section{
	margin-top: 10%;
	margin-left: 3%;
	width: 400px;
}
#summary-page{
	text-align: left;
}
#summary-page h1{
	text-align: left;
	font-size: 4em;
}



#wages-slide{
	width: 400px;
	margin-left: 3%;
}

#wages-slide h1{
	font-size:4em;
}



#paradigmshift-slide{
	display: inline;
	margin-top: 10%;
	margin-left: 20%;
	width: 400px;
}

#paradigmshift-slide h1{
	font-size: 4em;
}



#majoradvan-slide{
	margin-top: 10%;
	width: 500px;
	width: 100%;
	display: inline-block;
	margin-left: 4%;
}
#majoradvan-slide #mslide-div{
	position: absolute;
	width: 500px;
	float: right;
}
#majoradvan-slide h1{
	font-size: 4em;
}

#ContentFlow{
	position: absolute;
	margin-top: -20%;
	margin-left: -20%;
}



#massmarket-slide{
	width: 500px;
	margin-left: 5%;
}
#massmarket-slide h1{
	font-size: 4em;
}



#grocery-slide{
	width: 500px;
	margin-left: 5%;
}
#grocery-slide h1{
	font-size: 4em;
}



#finish-slide{
	width: 500px;
	margin-left: 5%;
}
#finish-slide h1{
	font-size: 4em;
}


.ContentFlow{
	height: 500px;
	width: 1000px;
}
